body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: black; /* Ensures the background is black when the animation isn't running */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Ensures the canvas stays behind all other content */
}
.hero {
  position: relative;
  color: #fff;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
